html, body {
    height: 100%;
}

nav {
    background-color:#003f6b;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}


.nav-link {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.nav-link:hover {
    color: #feb913;
}

.btn {
    display:inline-block;
    background-color:#dc4048;
    color: white;
    border: #dc4048;
    margin-right: 10px;
}

.btn:hover {
    background-color:#feb913;
    border: #feb913;
}

.jumbotron {
    background: url(../images/news-tv-studio-set-145-virtual-green-screen-background-loop_hp1vstgl__F0000.png) fixed center no-repeat;
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: white;
    box-shadow: 2px 2px 8px grey;
}

hr {
    color: white;
}












footer {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    background-color:#dc4048;
    padding-left: 10px;
}